.scores-atar__heading {
  color: #505050;
  font-size: 1.5rem;
}

.scores-atar__display--large {
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
}
.center-align {
  text-align: center;
}

input.estimate-atar {
  display: block;
  color: #66717d;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  background: transparent;
  border: 1px solid #66717d;
  line-height: 64px;
  text-align: center;
  font-size: 32px;
}

.select-control {
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #ccc;
  color: #333;
  height: 40px;
  outline: none;
  line-height: 36px;
  margin-right: 10px;
  margin-left: 10px;
}

.sq-form-field {
  text-align: center;
}

.col-9 {
  max-width: 75%;
}

.col-3 {
  max-width: 15%;
}
